/* Portrait */
/*@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
		.header{
			display: none;
		}
		.settings {
			display: none;
		}
		.settings-mobile{

		}
		.playback{
			display:none;
		}
		#id-track{
			display:none;
		}




}*/

/*@media (max-width: 640px) {  when max-width is less than this...



}*/

body{
	margin:0px;
	font-family: 'Raleway', sans-serif;
}
.playback{
	border: none;
	color: white;
	padding-top:0px;
	padding: 8px 23px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.header{
	padding-top:0px;
	background-color: #EFEFEF;
	position:fixed; top:0px;
	padding-bottom: 1.5em;
		z-index:100000; width:100%;
		box-shadow:5px 5px 20px #807E7E;

}
.header-mobile{
	padding-top:0px;
	background-color: #EFEFEF;
	position:fixed; top:0px;
	padding-bottom: 1.5em;
		z-index:100000; width:100%;
		box-shadow:5px 5px 20px #807E7E;
	/*display:inline;*/
}
.settings{
	display: none;
	padding-top:0px;
	background-color: #EFEFEF;
	position:fixed; bottom:0px;
	padding-bottom: 1.5em;
		z-index:100000; width:100%;
		box-shadow:5px 5px 20px #807E7E;
}
.settings-mobile{

	/*padding-top:0px;*/
	background-color: #EFEFEF;
	position:fixed; bottom:0px;
	padding-bottom: 1.5em;
		z-index:100000; width:100%;
		box-shadow:5px 5px 20px #807E7E;
	/*display:inline;*/
}
#track-title{
	padding-bottom: 0em;
}
#burn{
	background-color: #810022;
	width: 1.5em;
}
.content{
	width:auto;
	margin:auto;
	padding-top:14em;
	/*height:1000px;*/

}
.left{
	text-align:left;
}
footer{
	padding-top: 1.7em;
	padding-bottom: 0.6em;
}

#prev{
	background-color: #810022
}
#next{
	background-color: #004781;
}
.play{
	background-color: #961D1D;
}
.pause{
	background-color: #34339E;
}
.center{
	text-align: center;
}
#logo{
	padding-top: 0px;
	width: 300px;
}
#logo-mobile{
	width: 20em;
}

h1, h2, h3, h4{
	padding-bottom: 0px;
	padding-top: 0px;
}
.paused{
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
.playing{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
#track-title{

}
