body{
	margin:0px;
	font-family: 'Raleway', sans-serif;
}
/*.header{

	position:fixed;
	height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:100%;
    margin:0px auto;
}
.content{
	width:100%;
     background: #F0F0F0;
     border: 1px solid #CCC;
     height: 2000px;
     margin: 200px auto;
}*/
.playback{
	border: none;
	color: white;
	padding: 8px 23px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
#prev{
	background-color: #810022
}
#next{
	background-color: #004781;
}
.play{
	background-color: #961D1D;
}
.pause{
	background-color: #34339E;
}
.center{
	text-align: center;
}
#logo{
	width: 300px;
}
h2, h3, h4{
	visible: hidden;
	padding-bottom: 0px;
	padding-top: 0px;
}
.paused{
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
.playing{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
#track-title{

}
