//Map the correct css style to create the fixed position
div#header-fixed {position:fixed; top:0px; margin:auto;
	z-index:100000; width:100%;}
div#my-menus {background:#000; height:75px; opacity:0.8}

body{
	margin:0px;
	font-family: 'Raleway', sans-serif;
}
.playback{
	border: none;
	color: white;
	padding: 8px 23px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.header{
	padding-top:0px;
	background-color: #EFEFEF;
	position:fixed; top:0px;
	padding-bottom: 1.5em;
		z-index:100000; width:100%;

}
.content{
	margin:auto;
	padding-top:14em;

}
#prev{
	background-color: #810022
}
#next{
	background-color: #004781;
}
.play{
	background-color: #961D1D;
}
.pause{
	background-color: #34339E;
}
.center{
	text-align: center;
}
#logo{
	padding-top: 0px;
	width: 300px;
}

h1, h2, h3, h4{
	padding-bottom: 0px;
	padding-top: 0px;
}
.paused{
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
.playing{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
#track-title{

}
